.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px /* Set a font size */
}

.my_gray_back{
  background-color: #f0f0f0; !important;
}

.my_yellow_back{
  background-color: #fdfdf0; !important;
}

.my_red_back{
  background-color: #fdf0f0; !important;
}