/*
# inspired by
# https://bootsnipp.com/snippets/featured/animated-radios-amp-checkboxes-nojs
*/

.fancy-checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.fancy-checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.fancy-checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.fancy-checkbox label input[type="checkbox"] {
    display: none;
}

.fancy-checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.fancy-checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.fancy-checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}