body {
    background-image: url("/static/img/bg_mall.png");
    background-size: cover;
	color:#3d4951;
}

.btn-mylogin {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #364047;
	*background-color: #364047;
	background-image: -moz-linear-gradient(top, #586168, #364047);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#586168), to(#364047));
	background-image: -webkit-linear-gradient(top, #586168, #364047);
	background-image: -o-linear-gradient(top, #586168, #364047);
	background-image: linear-gradient(to bottom, #586168, #364047);
	background-repeat: repeat-x;
	border-color: #364047;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#586168', endColorstr='#364047', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-mylogin:hover,
.btn-mylogin:focus,
.btn-mylogin:active,
.btn-mylogin.active,
.btn-mylogin.disabled,
.btn-mylogin[disabled] {
	color: #FFFFFF;
	background-color: #364047;
	*background-color: #003bb3;
}
