.table-condensed {

   -webkit-transform:scale(0.98);
   -moz-transform:scale(0.98);
   -ms-transform:scale(0.98);
   transform:scale(0.98);

   -ms-transform-origin:0 0;
   -webkit-transform-origin:0 0;
   -moz-transform-origin:0 0;
   transform-origin:0 0;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th {
    padding: 1px;
}

.table-striped.table-hover>tbody>tr>td.last28,
.table-striped.table-hover>thead>tr>th.last28{
  background-color: #E3EDF6;
}

.table-striped.table-hover>tbody>tr>td.new28,
.table-striped.table-hover>thead>tr>th.new28{
  background-color: #F3F8FD;
}

.table-striped.table-hover>tbody>tr>td.curr28,
.table-striped.table-hover>thead>tr>th.curr28{
  background-color: #E3EDF6;
}

.table-striped.table-hover>tbody>tr:hover>td,
.table-striped.table-hover>tbody>tr:hover>th {
  background-color: #fff9f0;
}

.table-condensed .input-daterange.input-group {
    width: 170px;
}

.table-condensed > tbody > tr > td > .input-daterange.input-group > input {
    padding: 1px;
    line-height: 1;
}

.table-condensed > tbody > tr > td > .input-daterange.input-group > span {
    padding: 1px;
}

.table-condensed > tbody > tr > td > select {
    padding: 1px;
    width: 100px;
}

.table-condensed > tbody > tr > td > input.short[type="text"] {
    text-align: left;
    border: 0px;
    width: 10px;
    height: 27px !important;
    padding: 0px 2px !important;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

.table-condensed > tbody > tr > td > input.reason[type="text"] {
    text-align: left;
    padding: 1px;
    width: 120px;
}

.table-condensed > tbody > tr > td.border-left {
    border-left: 1px solid #cdd0d4;
}

.table-condensed > tbody > tr > td.border-right {
    padding-right: 2px;
    padding-left: 2px;
    border-right: 1px solid #cdd0d4;
}

.table-condensed > tbody > tr > td.b {
    font-weight: bold;
}

.table-condensed > tbody > tr:last-child > td {
    border-bottom: 2px solid #ddd;
}

.table-condensed > tbody > tr > td > .last7days {
    width: 200px;
}

.table-condensed > tbody > tr > td > .last7daysBig {
    width: 200px;
}

.my_chart_href {

}

.table-condensed > tbody > tr > td > .matname {
    /* width: 220px; */
    padding-left: 1px;
    white-space: nowrap;
    width: 1%;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.flag-color-yellow {
    color: #ffd633;
}

.flag-color-red {
    color: #cc0000;
}