.cust_tab table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 800px;
    border-collapse: separate;
    border-spacing: 20px 50px;
    -webkit-column-width: 100px
}

.cust_tab td{
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    width: 120px;
    transition: all 0.3s;  /* Simple transition for hover effect */
    text-align: right;
    /* font-weight: bold; */
    word-wrap: break-word;
}

.cust_tab th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    width: 120px;
    transition: all 0.3s;  /* Simple transition for hover effect */
    text-align: left;
    /* font-weight: bold; */
    word-wrap: break-word;
}

.cust_tab thead {
    font-weight: bold;
}

/* Cells in even rows (2,4,6...) are one color */
.cust_tab tr:nth-child(even) td { background: #F1F1F1; }
.cust_tab tr:nth-last-child(2) { background: #f2ffd4; font-weight: bold;}
