!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel="shortcut icon", type="image/vnd.microsoft.icon", href="/static/img/favicon.ico")
        block css
            link(href="/static/css/bootstrap.min.css" rel="stylesheet")

    body

        nav.navbar.navbar-mall.navbar-inverse.navbar-static-top
            a(href=url_for('index'))
            //    img.navbar-brand.navbar-brand-inactive(src="/static/img/DataCatchLogo.png" alt="logo")

            div.navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/") Data Catch overview page (draft)
            div.container
                block nav_container
        div(class="container")
            each category, message in get_flashed_messages(with_categories=True)
                div(class="alert alert-#{category}", role="alert")= message
        block container
            div(class="container")
                block content
                    img(src="/static/img/DataCatchLogo.png" alt="logo")
                    hr
                    h2.text-danger Data retreival tool based on dropped calls (proof-of-concept)

                    hr
                    span.priceit-text-normal
                        | This page displays "water levels" reported by making toll-free calls.
                        br
                        | The last two digits of the called number represent the value you want to report.
                        br
                        br
                        | To try it out, dial from your phone a number in the following format:
                        b
                            |  00420 910 1049
                        span.text-success
                            b
                                | [any number]
                        span.text-success
                            b
                                | [0 or 5]
                        br
                        br
                        b
                            | Examples:
                        ul
                            li
                                | 00 420 910 104 9
                                span.text-success
                                    b
                                        | 65
                            li
                                | 00 420 910 104 9
                                span.text-success
                                    b
                                        | 30
                            li
                                | 00 420 910 104 9
                                span.text-success
                                    b
                                        | 95
                            li
                                | 00 420 910 104 9
                                span.text-success
                                    b
                                        | 80
                            li ...

                        span
                            b
                                | Then refresh the page (by clicking reload button or pressing F5)
                                br
                                | The last 2 digits you have dialed will appear in table below.

                        hr
                        span.text-danger
                            b The following values were reported in the last 5 days:

                    table.table.table-hover
                        thead
                            tr
                                each cell in ["Value", "From number", "Call date/time"]
                                    th= cell
                        tbody
                            each row in data
                                tr
                                    td(style="font-size:16px").success
                                        b
                                            = row['line']
                                    td= row['clid']
                                    td= row['calldate']
                                    // print i, row['stamp'], " value: ", str(row['line'])[1:], " by nr.: ", row['clid'], row['calldate']
                                    //each cell in row
                                        td= cell
                    hr
                    | This page was created as a part of the pilot solution for subject Innovation & Entrepreneurship for ex-MBA course at SSE Stockholm.
                    br
                    b
                        | For more information contact:
                        | Martin Dekar (martin_dekar@mckinsey.com)
    block scripts
        script(src="/static/js/jquery-3.2.1.min.js")
        script(src="/static/js/bootstrap.min.js")
